<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.GestionMaquinariasBDConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\Documentos\Materias\Materias\Analisis y Diseño de Sistemas\ADS2\ADS2\GestionMaquinarias\GestionMaquinariasBD.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>